*

!.gitignore
!.gitattributes

!.github/
!.github/workflows/
!.github/workflows/*.yml
!.github/ISSUE_TEMPLATE/
!.github/ISSUE_TEMPLATE/*.yml

!LICENSE
!README.md

!.cargo/

!examples/

!src/
!src/**/

!*.rs
!*.toml
!*.md

!.env.template
